@use './typography' as *;
@use './variables' as *;
@use './mixins' as *;

// General rules

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #e9d4a2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.logo {
    height: 7rem;
    width: 18rem;
    margin: 1rem;
  }


// Rules on header
  
.header {
    position: sticky;
    top: 0;
    width: 100vw;
    text-align: center;
    z-index: 1;

    @include tablet {
      display: flex;
      align-items: center;
    }

   
    &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      @include desktop {
        margin-left: auto;
        margin-right: auto;
      }

      &--list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        @include tablet {
          padding-top: 0.5rem;
        }

        li {
          width: 50vw;
          padding: 0 2rem 0 2rem;

          @include tablet {
            width: auto;
          }
        }

        a {
          text-decoration: none;
          color: rgba(63, 60, 60, 0.901);
          font-size: 1.5rem;
          font-weight: 400;

          &:hover {
            color: rgb(45, 12, 175);
            background-color: rgb(200, 146, 225);
          }
        }

      }
      }

      
    }


// Rules applied to footer

.contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;  

    &__email {
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

    }

    &__social {
      display: flex;
      justify-content: space-between;
      align-items: auto;
      width: 8rem;
      height: 3rem;
      padding-top: 1.5rem;
      gap: 1rem;
      
        img {
          width: auto;
          height: auto;
          filter: hue-rotate(164deg);
      }
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }

 }
