* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: #e9d4a2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  height: 8rem;
  width: 12rem;
  margin: 1rem;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  text-align: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}
.header__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__navbar {
    margin-left: auto;
    margin-right: auto;
  }
}
.header__navbar--list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__navbar--list {
    padding-top: 0.5rem;
  }
}
.header__navbar--list li {
  width: 50vw;
  padding: 0 2rem 0 2rem;
}
@media screen and (min-width: 768px) {
  .header__navbar--list li {
    width: auto;
  }
}
.header__navbar--list a {
  text-decoration: none;
  color: rgba(63, 60, 60, 0.901);
  font-size: 1.5rem;
  font-weight: 400;
}
.header__navbar--list a:hover {
  color: rgb(45, 12, 175);
  background-color: rgb(200, 146, 225);
}

.contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}
.contact__email {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact__social {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  width: 8rem;
  height: 3rem;
  padding-top: 1.5rem;
  gap: 1rem;
}
.contact__social img {
  width: auto;
  height: auto;
  filter: hue-rotate(164deg);
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.main {
  background-color: azure;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}
.hero__video {
  width: 80%;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__video {
    width: 50%;
  }
}
.hero__video::-webkit-media-controls-timeline {
  display: none;
}
.hero__video::-webkit-media-controls-current-time-display {
  display: none;
}
.hero__video::-webkit-media-controls-time-remaining-display {
  display: none;
}
.hero__words {
  line-height: 2rem;
  padding: 2rem;
}
.hero__words h3 {
  padding-bottom: 1rem;
  font-weight: 400;
}

.form {
  padding: 2rem;
  background-color: rgb(219, 215, 196);
}
.form * {
  background-color: rgb(219, 215, 196);
}
.form input, .form select {
  width: 80%;
  padding: 0.5rem;
  margin: 1rem;
}
@media screen and (min-width: 1280px) {
  .form input, .form select {
    width: 50%;
  }
}
.form__label {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 1rem 0;
}
.form__required::after {
  content: " *";
  color: rgb(146, 15, 15);
}
.form__button {
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(234, 176, 109);
  border-color: rgb(106, 102, 101);
  border-radius: 5px;
}

::-moz-selection {
  color: rgb(77, 69, 121);
  opacity: 1;
}

::-moz-placeholder {
  color: rgb(77, 69, 121);
  opacity: 1;
}

::placeholder, ::selection {
  color: rgb(77, 69, 121);
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */