@use "./partials/globals";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.main {
    background-color: azure;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
    }

    &__video {
        width:80%;
        padding: 2rem;

        @include tablet {
            width: 50%;
        }

        &::-webkit-media-controls-timeline {
            display: none;
        }

        &::-webkit-media-controls-current-time-display {
            display: none;
        }

        &::-webkit-media-controls-time-remaining-display {
            display: none;
        }
    }

    &__words {
        line-height: 2rem; 
        padding: 2rem;

        h3 {
            padding-bottom: 1rem;
            font-weight: 400;
        }
    }
}

.form {
    padding: 2rem;

    input, select {
        width: 80%;
        padding: 0.5rem;
        margin: 1rem;

        @include desktop {
            width: 50%;
        }
    }

    &__label {
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem 0 1rem 0;
    } 

    &__required::after {
        content:" *";
        color: rgb(146, 15, 15);
    }

    &__button {
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-weight: 600;
        font-size: 1rem;
        background-color: rgb(234, 176, 109);
        border-color: rgb(106, 102, 101);
        border-radius: 5px;
    }
}

::placeholder, ::selection {
    color: rgb(77, 69, 121);
    opacity: 1;
}