@use "./partials/globals";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;


.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vh;

    &__video {
        height:100%;
        padding: 2rem;

        @include tablet {
            width: 50%;
        }

        &::-webkit-media-controls-timeline {
            display: none;
        }

        &::-webkit-media-controls-current-time-display {
            display: none;
        }

        &::-webkit-media-controls-time-remaining-display {
            display: none;
        }
    }

    &__words {
        padding: 2rem;

        h3 {
            padding-bottom: 1rem;
            font-weight: 400;
        }

        h1 {
            font-size: 2rem;
        }
    }
}

.form {
    padding: 2rem;
    background-color: rgb(219, 215, 196);
    width: 100%;
    display: flex;
    flex-direction: column;

    > div {
        margin-bottom: 2rem;
    }

    * {
        background-color: rgb(219, 215, 196);
    }

    input {
        width: 80%;
        padding: 0.5rem;
        margin: 1rem;
        background-color: rgb(219, 215, 196);
        
        @include desktop {
            width: 80%;
        }
    }

    &__label {
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem 0 1rem 0;
    } 

    &__required::after {
        content:" *";
        color: rgb(146, 15, 15);
    }

    &__button {
        width: 14rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-weight: 600;
        font-size: 1rem;
        background-color: rgb(234, 176, 109);
        border-color: rgb(106, 102, 101);
        border-radius: 5px;
    }
}

::placeholder, ::selection {
    color: rgb(77, 69, 121);
    opacity: 1;
}

.about {
    padding: 2rem;
    background-color: rgb(219, 215, 196);
    text-align: center;

    * {
    background-color: rgb(219, 215, 196);
    }

    h1 {
        padding: 2rem;
    }
}